
#navbar li a:hover{
  color: red;
}

#navbar li a.active{
   color:rgb(7, 145, 4);
   text-decoration: underline;
}


#header {
  position: relative ;
  top: 0;
  z-index: 1000;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #333;
  margin-left: 15px;
}

#body{
     background-color: rgba(241, 229, 214, 0.489);
}

#bread-maker{
   margin-top: 40px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    margin-bottom: 40px;
}

#coffee-maker{
  margin-top: 40px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    margin-bottom: 40px;
}

#icecream-maker{
  margin-top: 40px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    margin-bottom: 40px;
}

#toaster{
  margin-top: 40px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    margin-bottom: 40px;
}

#chop-blend{
  margin-top: 40px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    margin-bottom: 40px;
}

#e-kettle{
  margin-top: 40px;
    text-align: center;
    color: brown;
    text-decoration: underline;
    margin-bottom: 40px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  flex-grow: 1;
}

@media(max-width:912px){
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(red, green, blue);
    padding: 30px 0 0 10px;
    transition: 1s;
  }


  #navbar.active{
    right: 0px;
  }

  #mobile {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  #mobile i {
    font-size: 22px;
    color: #000000;
    padding-left: 20px;
  }

  #navbar {
    display: none;
  }
  #navbar.active {
    display: block;
  }

  #close{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000000;
  }

  #lg-bag{
   display: none;
  }

  #cart-count{
      display: none;
    }
}
 
#slides img {
    width: 100%;
    height: 75vh; 
  }

  /* Adjust for smaller screens */
  @media (max-width: 768px) {
    #slides img {
      height: 60vh;
    }
  }

  @media (max-width: 576px) {
    #slides img {
      height: 30vh;
    }
  }

  #logo {
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
  }

   #navbarNav .nav-item .badge {
        position: absolute;
        top: 0;
        right: 20px;
        transform: translate(40%, -40%);
        font-size: 0.7rem;
        border-radius: 50%;
        padding: 0.25em 0.45em;
      }

      #mobile .badge {
        position: absolute;
        top: -5px;
        right: 8px;
        font-size: 0.7rem;
        border-radius: 50%;
        padding: 0.25em 0.45em;
      }